@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,400;1,200&display=swap');

html{
    width: 1160px;
    margin: auto;
}

#body{
    font-family: "Raleway",sans-serif;
    font-style: none;
    font-weight: 400;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

H{
    font-family: "Leto", serif;
    font-style: normal;
}

#section-droite h2{
    
}

 /* En-Tête */ 

#header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #782221;
}

#header div{
   text-align: center;
   color: white;
   padding: 50px 0px 20px;
}

#header img{
   border-radius: 100px;
   box-shadow: 0 0 20px #dbc2a4 ;
   cursor:zoom-in ;
}

#header p{
    justify-self: center;
    align-self: center;
}

.header__address{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 1px;
    background-color:#2c1d27 ;
    padding: 10px 30px ;
}

.header__address a{
    text-decoration: none;
    color: white;
}
.header__address a:hover {
    text-decoration: underline; 
}

/* Fin de l'En-Tête */ 


#main{
    display: flex;
    flex-direction: row;

}


/* Section-gauche */

#section-gauche{
    flex: 1;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    background-color:#782221 ;
    margin: 0;
    padding-right: 40px;
}
 
#section-gauche h2{
    background-color:#dbc2a4 ;
    color: black;
    padding-left: 15px;
}

#section-gauche div p{
    text-align: justify;
    text-indent: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
 
}

#section-gauche ul{
    padding-bottom: 20px;
}

/* Fin de la Section-gauche*/

/* Section-droite */

#section-droite{
    flex: 2;
    flex-direction: column;
    background-color:  white;
    border-right: solid;
    margin-left: 30px;
    margin-bottom: 0;
    padding-right: 20px;

}

#section-droite h2{
    position: relative;
    background-color:#dbc2a4 ;
    border-left: 7px solid #782221 ;
}

#section-droite h2:hover::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0%;
    height: 70%;
    background-color: #782221;
    border: 1px solide ;
    padding: 5px;
}

/* Fin de la Section-droite */

/* Pied de Page */ 
#footer{
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color:#782221 ;
    padding : 0px 0px 20px ;
}


.footer__social-icon{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#footer div i{
    font-size: 50px;
    color: white;
}

.footer__social-icon img{
    width: 50px; 
    height: 50px; 
    transition: opacity 0.3s ease;
}

.footer__social-icon img:hover,
#footer div i:hover {
    opacity: 0.8; 
}
/* Fin de Pied de Page */ 
